<h2>25 Most Recent Snippets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
    <%= for snippet <- @snippets do %>
      <tr>
        <td>
          <%= link snippet.title, to: snippet_path(@conn, :show, snippet.slug) %>
        </td>
        <td>
          <%= snippet.slug %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link "New snippet", to: snippet_path(@conn, :new), class: "btn btn-primary" %>
